.resume-page {
    background-color: #E7DCC9; /* Beige background */
    min-height: 100vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-page h2 {
    color: #3C2F2F;;
}

.resume-header {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.resume-title {
    font-size: 1.5rem;
    color: #3C2F2F;;
}

.experience-container, .skills-container, .education-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .experience-container, .skills-container, .education-container {
        flex-direction: column;
        align-items: center;
    }
}

.experience-item, .skills-item, .education-item {
    background-color: white;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
    max-width: 1000px;
    width: 90%;
}

@media (max-width: 768px) {
    .experience-item, .skills-item, .education-item {
        flex-direction: column;
        text-align: center;
        padding: 1.5rem;
    }
}

.download-btn {
    padding: 0.75rem 1.5rem;
    background-color: #333;
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    transition: background 0.3s, transform 0.2s;
    text-decoration: none;
    font-size: 0.9rem;
}

.download-btn:hover {
    background-color: #555;
    transform: scale(1.05);
}

.experience-details, .skills-details, .education-details {
    flex: 1;
    text-align: left;
    color: #2B1D1D;
}

.experience-details h3, .skills-details h3, .education-details h3 {
    font-size: 1.2rem;
    font-weight: 900;
    color: #3C2F2F;;
    margin-bottom: 0.5rem;
}

.experience-description, .skills-description, .education-description {
    flex: 2;
    color: #3C2F2F;;
    line-height: 1.6;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .experience-details, .skills-details, .education-details {
        text-align: center;
    }
}

.skills-description img, .education-details img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .skills-description img, .education-details img {
        margin: 0 auto;
    }
}